section, header, article, nav {
    display: block;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 1em 10%;
    background-image: url(../images/background.gif);
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat-x;
    max-width: 80em;
}
header {
    background-image: url(../images/guitarist.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
}

#home header {
    background-image: url(../images/guitarist.gif);
}
#about header {
    background-image: url(../images/lineup.gif);
}

#photos header {
    background-image: url(../images/basshead.gif);
}

#live header {
    background-image: url(../images/bassist.gif);
}

#contact header {
    background-image: url(../images/drummer.gif);
}

header nav {
    background-image: url(../images/navbar.gif);
    background-position: bottom left;
    background-repeat: repeat-x;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
    border-top-width: 0;
    padding-left: 10%;
}
header nav ul{
    witdh:100%;
    overflow: hidden;
    border-left-width: .1em;
    border-left-style:solid;
}
header nav li{
    display:inline;
}
header nav li a{
    display:block;
    float:left;
    padding:0.5em 2em;
    border-right: solid .1em;
}

#slideshow{
    border-radius: 2px;
    width: 150px;
    height:150px;
    position:relative;
    overflow:hidden;
}

#preview{
    position:absolute;
    border-width: 0;
    outline-width: 0;
}

td{
    padding:.5em 3em;
}

dl{
    overflow: hidden;
}
dt{
    float:left;
}
dd{
    float:left;
}
dt{
    margin-rigth:1em;
}
dd{
    margin-right:3em;
}
label{
    display: block;
}
fieldset{
    border:0;
}
